<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Login</title>
  <link rel="stylesheet" href="/css/admin/adminLogin.css">
</head>

<body>
  <div id="error-message" class="error-message"
    style="<%= locals.message ? 'display: block; border-radius: 0; margin-bottom: 0; width: 100%;' : 'display: none;' %>">
    <%= locals.message ? locals.message.message : '' %>
  </div>

  <div class="header">SeatWorld</div>

  <div class="login-box">
    <div class="login-title">ADMIN LOGIN</div>
    <form action="/admin/login" method="POST" id="loginForm">
      <div>
        <label class="input-label" for="email">Enter Email</label>
        <input class="input-box" type="email" id="email" name="email" required />
      </div>
      <div>
        <label class="input-label" for="password">Password</label>
        <input class="input-box" type="password" id="password" name="password" required />
      </div>
      <button class="login-btn" type="submit">LOGIN</button>
    </form>
  </div>

  <script src="/js/admin/adminLogin.js"></script>
</body>

</html>