<% if (messageData || message) { %>
    <% let finalMessage=messageData || message; let msgType=(typeof finalMessage==='object' && finalMessage &&
        finalMessage.type) ? finalMessage.type : 'info' ; let msgText=(typeof finalMessage==='object' && finalMessage &&
        finalMessage.message) ? finalMessage.message : (typeof finalMessage==='string' ? finalMessage : '' ); if
        (msgText) { %>
        <link rel="stylesheet" href="/css/users/flash.css">
        <div class="flash-container flash-<%= msgType %>">
            <%= msgText %>
        </div>
        <script src="/js/users/flash.js"></script>
        <% } %>
            <% } %>