node_modules/
config/
AdminproductRoutes.js
adminRoutes.js
bannerRoute.js
gAuthRoute.js
upload.js
addressModel.js
categoryModel.js
productModel.js

adminController.js
AdminproductController.js
bannerController.js
orderController.js
productController.js
customerList.ejs



