<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password - SeatWorld</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/users/forgotPassword.css">
</head>

<body>
  <%- include('../partials/header', { showSearch: false }) %>
    <%- include("../partials/breadcrumb", { breadcrumbs }) %>

      <div class="container">
        <div class="card">
          <h2>Forgot your password?</h2>
          <p>Don’t worry. Happens to all of us. Enter your email below to recover your password.</p>

          <form action="/forgot-password" method="POST">
            <input type="email" name="email" placeholder="Email address" required>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script type="module" src="/js/users/forgotPassword.js"></script>
</body>

</html>