<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification - SeatWorld</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/users/otp3.css">
</head>

<body>
  <%- include('../partials/authHeader') %>

    <!-- OTP Card -->
    <div class="container">
      <div class="card">
        <p>Please check your inbox<br>We’ve sent a code to your email</p>


        <form action="/email/change-otp" method="POST">
          <div class="otp-inputs">
            <input type="text" name="otp1" maxlength="1" required class="otp-input" inputmode="numeric"
              pattern="[0-9]*">
            <input type="text" name="otp2" maxlength="1" required class="otp-input" inputmode="numeric"
              pattern="[0-9]*">
            <input type="text" name="otp3" maxlength="1" required class="otp-input" inputmode="numeric"
              pattern="[0-9]*">
            <input type="text" name="otp4" maxlength="1" required class="otp-input" inputmode="numeric"
              pattern="[0-9]*">
          </div>

          <div class="timer" id="timer"></div>
          <div class="buttons">
            <button type="button" class="cancel" onclick="window.location='/login'">Cancel</button>
            <button type="submit" class="verify">Verify</button>
          </div>
        </form>
        <input type="hidden" id="otpExpiryValue"
          value="<%= (typeof otpExpires !== 'undefined' && otpExpires) ? new Date(otpExpires).getTime() : 0 %>">

        <div class="resend" id="resendBox">
          Didn't receive code?
          <a href="/resend-otp?type=email">Click to resend</a>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/users/otp3.js"></script>


</body>

</html>